In [3]:
import pandas

In [4]:
import numpy as np

In [11]:
# 1 Load a dataset using Pandas and perform data cleaning operations such as removing null values, 
#removing duplicates,number format etc.

In [7]:
import statistics

In [15]:
data = pandas.read_csv("C:\\Users\\gatis\\Desktop\\Marta_macibas\\RigaTechGirl\\Materiali_Python\\penguins_size.csv")

In [16]:
data

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [17]:
data.drop_duplicates().dropna()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [18]:
# 2 Use Pandas to calculate summary statistics for a dataset, such as mean, median, and standard deviation.

In [25]:
data["flipper_length_mm"].mean()

200.91520467836258

In [26]:
data["flipper_length_mm"].median()

197.0

In [27]:
data["flipper_length_mm"].std()

14.061713679356888

In [28]:
#3 Create a scatter plot using Matplotlib to visualize the relationship between two variables in a dataset.

In [30]:
import matplotlib.pyplot as pl

ModuleNotFoundError: No module named 'matplotlib'